<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cleanhouse">

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/pestlogo"
        android:label="CleanHouse"
        android:roundIcon="@drawable/pestlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanHouse">
        <activity android:name=".Advert2"></activity>
        <activity android:name=".Advert" />
        <activity android:name=".HomePage" />
        <activity android:name=".CollectData" />
        <activity android:name=".ConfirmData" />
        <activity android:name=".LandingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>